<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#0F1416" />
  {% seo %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/bower_components/bootstrap/dist/css/bootstrap.min.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  <link rel="icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
  <script src="{{ '/assets/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js' | relative_url }}" defer></script>
  <script src="{{ '/assets/js/on-scroll-progress.js' | relative_url }}" defer></script>
</head>
