<!-- home hero section -->
<div class="jumbotron" id="top">
  <div class="section-inner">
    <img class="hero-avatar" src="{{ '/assets/img/profile.jpg' | relative_url }}" alt="{{ site.author }}" width="160" height="160">
    <h1 class="jumbotron-heading">{{ site.author }}</h1>
    <p class="hero-headline">{{ site.author_headline }}</p>
    <p class="lead">{{ site.author_pitch }}</p>
    <div class="jumbotron-btns">
      <a class="btn btn-teal" href="mailto:{{ site.author_email }}">Contact</a>
    </div>
  </div>
</div>
